body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
ul {
    display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}

/* footer */

.top-line {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-menu {
    gap: 40px;
}
.logo-first-part {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-second-part-top {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navigation-menu-list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
}
.navigation-menu-list:hover,
.navigation-menu-list:focus {
  color: var(--OCEAN, #404bbf);
}
.address-list {
gap: 40px;
}
.top-line-address {
  font-style: normal;
}
.top-line-address-list {
  color: currentColor;
}
.top-line-address-list:hover,
.top-line-address-list:focus {
  color: var(--OCEAN, #404bbf);
}


/* hero */

.titel-page {
  display: block;
  background: var(--NAVY-BLUE, #2e2f42);
  margin: 0;
  padding: 188px;
}
.titel {
  display: block;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.018em;
  margin: auto;
  margin-bottom: 48px;
  width: 496px;
}
.titel-page-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 188px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
}
.titel-page-button:hover,
.titel-page-button:focus {
  background: var(--OCEAN, #404bbf);
}


/* Section 1 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #FFF;
}
 
.section-titel-features {
  display: none;
}
.features-section-list {
  padding: 0;
  gap: 24px;
}
.features-section-item {
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.section-item-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Section 2 */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--CLOUD, #F4F4FD);
}
.conteiner {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.team-section-item {
display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}
.section-team-block {
display: flex;
width: 232px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}
.team-section-item-description, .section-item-titel {
text-align: center;
}
.team-section-list {
  gap: 24px;
  padding: 0;
}


/* Section 3 */

.portfolio-section-item {
  display: inline-flex;
  flex-direction: column;
  background: var(--WHITE, #fff);
  max-width: 360px;
width: calc((100% - 48px) / 3);
margin: 0;
border: 1px solid var(--CORNFLOWER, #E7E9FC);
overflow: hidden;

}
.portfolio-section-list {
  display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-section-block {
  display: flex;
    flex-direction: column;
    gap: 8px;
  width: 360px;
  margin: 32px 0;
  padding: 0 16px;
}

/* Footer */

.footer-section {
  background: var(--NAVY-BLUE, #2e2f42);
  height: 312px;
  display: flex;
  
}
.logo-first-part-down {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-second-part-down {
  color: var(--CLOUD, #f4f4fd);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-description {
  color: var(--CLOUD, #f4f4fd);
  width: 264px;
}
.footer-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.fish {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fish-description {
  color: var(--NAVY-BLUE, #2e2f42);
}