body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
    min-height: 100vh;
    gap: 0;
}
main {
    flex-grow: 1;
}
ul {
    display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* footer */

.top-line {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-menu {
    gap: 40px;
}
.logo-first-part {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-second-part-top {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navigation-menu-list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
}
.navigation-menu-list:hover,
.navigation-menu-list:focus {
  color: var(--OCEAN, #404bbf);
}
.address-list {
gap: 40px;
}
.top-line-address {
  font-style: normal;
}
.top-line-address-list {
  color: currentColor;
}
.top-line-address-list:hover,
.top-line-address-list:focus {
  color: var(--OCEAN, #404bbf);
}


/* hero */

.titel-page {
  display: block;
  background: var(--NAVY-BLUE, #2e2f42);
  margin: 0;
  padding: 188px;
}
.titel {
  display: block;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.018em;
  margin: auto;
  margin-bottom: 48px;
  width: 496px;
}
.titel-page-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 188px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
}
.titel-page-button:hover,
.titel-page-button:focus {
  background: var(--OCEAN, #404bbf);
}


/* Section 1 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #FFF;
}
 
.section-titel-features {
  display: none;
}
.features-section-list {
  padding: 0;
  gap: 24px;
}
.features-section-item {
width: 264px;
height: auto;
}
.section-item-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 8px;
}
.section-item-description {
  margin: 0;
}

/* Section 2 */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--CLOUD, #F4F4FD);
}

.team-section-item {
  background: var(--WHITE, #fff);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.section-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-section-list {
  gap: 24px;
  padding: 0;
}

/* Section 3 */


.portfolio-section-bloc {
  background: var(--WHITE, #fff);
}


/* Footer */

.footer-section {
  background: var(--NAVY-BLUE, #2e2f42);
}
.logo-first-part-down {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-second-part-down {
  color: var(--CLOUD, #f4f4fd);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-description {
  color: var(--CLOUD, #f4f4fd);
}
